{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block  header %}

<style>
.container2 {
  margin-top: 50px;
}
.radio {
  /* margin: transform(-50%, -50%); */
  margin: 5%;
  justify-content: space-between;
  align-content: center;
  display: inline-flex;
  padding: 50px;
  overflow: hidden;
  list-style: none;
  width: 80%;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  /* border: 5px solid darkgreen; */
}
.radio_input {
  display: None;
}
#id_gender* {
  border: 5px solid darkgreen;
  border-radius: 15px;
  color: #009578;
  cursor: pointer;
  font-family: "Dancing Script";
  padding: 8px 14px;
  font-size: 20px;
  width: 30%;
  text-align: center;
  justify-content: space-between;
  transition: background 0.5s;
}
.radio_input:checked + .label1 {
  background-color: rgb(130, 172, 152);
}


</style> 

{% endblock header %}


{% block content %}
<div class="container-fluid ">
<div class="row my-3 text-center bg-info">
<h1 class="mx-auto ">Zain Thanks you to visit Registration System </h1>
</div>


<div class="row ml-2 mt-2 bg-warning">

 <div class="well">

<form method="post" enctype="multipart/form-data">
  {% csrf_token %}

 {% if form.fields.errors %}

  <div class="p-3 mb-2 bg-danger text-white ">
                                  {{ form.fields.error }}
  </div>
   {% endif %}

  {% crispy form %}

<!--  <input type="submit" value="Save">-->




</form>
</div>
</div>
</div>
  {% endblock content %}


  {% block endjava   %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>


    $("#id_STATE").change(function () {
        const url = '../county/';  // get the url of the `load_cities` view
        const states = $(this).val();  // get the selected country ID from the HTML input
$.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= /persons/ajax/load-cities/ )
            data: {
                'states': states       // add the country id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_cities` view function
                $("#id_COUNTY").html(data);  // replace the contents of the city input with the data that came from the server
                $("#id_COUNTY").change();  // to  trigger the PAYAM dropdown
                  }
        });

});

$("#id_COUNTY").change( function () {
        const url = '../payam/';  // get the url of the `load_cities` view
        const county = $(this).val();  // get the selected country ID from the HTML input
$.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= /persons/ajax/load-cities/ )
            data: {
                'county': county       // add the country id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_cities` view function
                $("#id_PAYAM").html(data);  // replace the contents of the city input with the data that came from the server
                  }
        });
});



</script>

  {% endblock endjava  %}
