{% extends 'base.html' %}
{% load static %}

{% block header %}
<!--<link rel="stylesheet" type="text/css" href="{% static 'DataTables/datatables.min.css' %}"/>-->
{% endblock header %}
  

{% block upjava %}
<!--<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>-->
<script type="text/javascript" src="{% static 'DataTables/datatables.min.js' %}"></script>
{% endblock upjava %}
  
{% block content %}
<section class="content">
  <div class="container-fluid">
    <div class="row mt-5">
        <div class="col-md-12 ">
          <div class="card card-primary">
            <div class="card-body ">
              <div class="table-responsive">
              <table class="table table-bordered hover cell-border " id="userDetailTable"  >
                <thead class="thead-dark bg-info">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Mobile No</th>
                  <th scope="col">First Name</th>
                  <th scope="col">Last Name</th>
                  <th scope="col">ID TYPE</th>
                  <th scope="col">ID Number</th>
                  <th scope="col">Gender</th>
                  <th scope="col">Date OF Birth</th>
                  <th scope="col">Address</th>
                  <th scope="col">Country</th>
                  <th scope="col">State</th>
                  <th scope="col">City</th>
                  <th scope="col">PAYAM</th>
                  <th scope="col">BOMA</th>
                  <!-- <th scope="col">Joined On</th> -->
                  <!-- <th scope="col">Department</th> -->
                </tr>
              </thead>
              <tbody>
                {% for d in data %}
                <tr>
                  <td>{{forloop.counter}}</td>
                  <td>{{d.MOBILE_NUMBER}}</td>
                  <td>{{d.FIRST_NAME}}</td>
                  <td>{{d.LAST_NAME}}</td>
                  <td>{{d.ID_TYPE}}</td>
                  <td>{{d.ID_NUMBER}}</td>
                   <td>{{d.gender}}</td>
                   <td>{{d.DOB}}</td>
                     <td>{{d.ADDRESS}}</td>
                   <td>{{d.NATIONAL}}</td>
                   <td>{{d.STATE}}</td>
                   <td>{{d.CITY}}</td>
                   <td>{{d.PAYAM}}</td>
                   <td>{{d.BOMA}}</td>
                </tr>
                {% endfor %}
              </tbody>
              </table>
              </div>      
            </div>
          </div>    
        </div>
    </div>
  </div>

</section>
  {% endblock content %}

  {% block endjava %}
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js">
  <script src="{% static 'list.js' %}" type="text/javascript"></script>

<script type="text/javascript">
  $('#userDetailTable').DataTable({

'deferRender': false,

data:window.data,
responsive:true,
dom:'Bfrtip',
lengthMenu:[
[5,10,25,50,-1],
['5rows','10rows','25rows','50rows','Showall']
],
buttons:[
'pageLength','copy','csv','excel','pdf'
],
select:true,
hover:true,
});

</script>
  {% endblock endjava %}